:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #f4f6f9;
  --card: #ffffff;
  --text: #222;
  --primary: #1d72e8;
}

body {
  background: var(--bg);
  color: var(--text);
}
